/*css reset*/
body,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
input,
fieldset {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  line-height: 1;
  font-family: 'Microsoft Yahei';
}
fieldset {
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
i,
em {
  font-style: normal;
}
a img {
  border-style: none;
}
table {
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
/*common style*/
img {
  vertical-align: top;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
hr {
  border: none;
  height: 0;
  border-bottom: 1px dashed #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* header */
html,
body {
  height: 100%;
  background-color: #ebebeb;
}
#header {
  height: 100%;
  width: 220px;
  background-color: #fff;
  position: fixed;
}
#header .logo {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}
#header h1 {
  text-indent: -99999px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}
#header h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
#header .spin-stage {
  cursor: pointer;
  height: 200px;
  margin: 0 45px;
  -webkit-transform-style: preserve-3d;
}
#header .spin-stage .spin-logo {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background: url(../img/mld_logo.svg) no-repeat center 40px;
  position: absolute;
  top: 0;
  left: 0;
}
.nav {
  height: 100%;
}
.nav-main-list h2 {
  font-size: 20px;
}
.nav-main-list .nav-main-list-item.active {
  background: url(../img/selectedArrow.png) no-repeat 0 15px;
}
.nav-main-list .nav-main-list-item.active a {
  color: #B22512;
}
.nav-main-list .nav-main-list-item {
  padding-left: 50px;
  line-height: 50px;
  color: #666;
}
.nav-main-list .nav-main-list-item .nav-sub-list {
  display: none;
  padding-left: 5px;
}
.nav-main-list .nav-main-list-item .nav-sub-list .nav-sub-list-item {
  margin-left: -100px;
  line-height: 30px;
  font-size: 14px;
}
.nav-main-list .nav-main-list-item .nav-sub-list .nav-sub-list-item a.active {
  color: #B22512;
}
.nav-main-list .nav-main-list-item .nav-sub-list .nav-sub-list-item a {
  color: #888;
}
.nav-main-list .nav-main-list-item .nav-sub-list .nav-sub-list-item a:hover {
  color: #B22512;
}
/* bg-fadein */
#content {
  position: relative;
}
.bg-fadein {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
